@media screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait){
    #react-entry-point {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
    #warning{
        display:block;
    }
    #map{
        height:1000;
    }
}

@media screen and (min-width: 500px){
    #warning{
        display:none;
    }
    #mapify{
        height:100;
        background: red;
        /* display:block;
        margin-left:auto;
        margin-right:auto; */
        vertical-align: middle;
    }
    /* #map .js-plotly-plot .plotly .svg-container{
        
    } */
    /* #map .js-plotly-plot .plot-container .svg-container .main-svg{
        height: 1000;
    } */
    /* #map .js-plotly-plot{
        height: 1000;
        background: chartreuse;
    } */
}

.dash-dropdown{
    margin:0.5rem 0;
}

#dropdowns{
    padding:1rem 1rem;
    background: #222222;
    font-size: 1.2rem;
    color:black
}

.nav-tabs .active .nav-link {
    background:#375a7f;
    border-top: solid 1px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    border-radius: 8px;
}

.DayPickerKeyboardShortcuts_buttonReset{
    display: none;
}